<p id="notice"><%= notice %></p>

<h1>Test Classes</h1>

<table>
  <thead>
    <tr>
      <th>Startdate</th>
      <th>Mybool</th>
      <th>Myfloat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_classes.each do |test_class| %>
      <tr>
        <td><%= test_class.startDate %></td>
        <td><%= test_class.myBool %></td>
        <td><%= test_class.myFloat %></td>
        <td><%= link_to 'Show', test_class %></td>
        <td><%= link_to 'Edit', edit_test_class_path(test_class) %></td>
        <td><%= link_to 'Destroy', test_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Class', new_test_class_path %>
